@font-face{
  font-family: Romie ;
  src : url( https://cdn.shopify.com/s/files/1/0852/1148/0367/files/Romie-Medium.woff2?v=1737710903
 );
}

@font-face{
  font-family: Romie ;
  src : url( https://cdn.shopify.com/s/files/1/0852/1148/0367/files/Romie-Medium.woff?v=1737710903
 );
}